body {
  font-family: Lora;
  line-height: 1.6;
  color: #555;
  font-size: 1em;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

.site .col {
  flex: 1;
}

.site-half {
  display: flex;
  justify-content: space-between;
}

.site-half .col {
  width: 50%;
}

.site-half .col-30 {
  max-width: 30%;
}

.site-half .col-70 {
  width: 70%;
}

.col,
.col-70 {
  padding: 10px 20px;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

h1 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
h2 {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
h2.left {
  text-align: left;
}

h3 {
  font-size: 1em;
}

.portrait {
  width: 210px;
  padding-top: 85px;
}

.portrait img {
  border-radius: 10%;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0.7); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0.7); /* Microsoft Edge and Firefox 35+ */
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0 0 0 30px;
  padding: 0;
}

.chinese-text {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 1.5em;
}

.from {
  font-family: Lora;
  line-height: 1.6;
  color: #555;
  font-size: 1em;
}